/node_modules
/public/hot
/public/storage
/storage/*.key
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
/vendor
.env
!/docker/mysql/
/docker/mysql/*.*
!/docker/redis
/docker/redis/*.*
!/docker/000-default.conf
!/docker/001-default-ssl.conf
/composer.lock
/coverage